// Fonts importation 
@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
        url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("trueType");
}

@font-face {
    font-family: "Manjari";
    src: local("Manjari"),
        url("../fonts/Manjari/Manjari-Regular.ttf") format("trueType");
}

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"),
        url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("trueType");
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css"