@import'global.scss';

$body-color: rgb(66, 66, 66);

body {
    color: $body-color;
    font-family: 'Manjari', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: rgb(8, 145, 145);
}

#logo {
    height: 60px;
}

.wrapper {
    margin: 2rem;

    .header {
        border: 1px solid #5a5a5a;
        border-radius: 20px;
    }

    .container {
        padding: 1rem;

        ul {
            list-style: none;
            font-size: 1rem;
        }

        i {
            color: red
        }

        code {
            padding: 1rem;
            background-color: rgb(201, 201, 201);

        }
    }

}